<footer class="border-top footer text-muted mx-auto">
    <div class="row btn-group">
        <my-button>1</my-button>
        <my-button>2</my-button>
        <my-button>3</my-button>
        <my-button>4</my-button>
        <my-button>5</my-button>
        <my-button>6</my-button>
        <my-button>7</my-button>
        <my-button>8</my-button>
        <my-button>9</my-button>
        <my-button>10</my-button>
        <my-button>11</my-button>
        <my-button>12</my-button>
    </div>
</footer>